ipykernel>=4.8.2
ipython>=6.4.0
ipython-genutils>=0.2.0
jupyter>=1.0.0
jupyter-client>=5.2.3
jupyter-console>=5.2.0
jupyter-core>=4.4.0
matplotlib>=2.2.2
notebook>=5.7.2
numpy>=1.14.5
opencv-python>=3.4.1.15
Pillow>=6.2.0
scikit-image>=0.14.0
six>=1.11.0
torch>=1.2.0
tqdm>=4.23.4
urllib3>=1.24.2
git+https://github.com/drsleep/DenseTorch.git
albumentations>=0.4.5
pytest-depends>=1.0.1
pytest-mock>=3.1.1
pytest-repeat>=0.8.0
